<configuration>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%boldYellow(%d{HH:mm:ss.SSS}) %highlight(%-4level) %boldGreen([%thread]) %cyan(%class{0}): %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志记录器配置 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>